body { 
    background-color: #fcf7ff; 
}

container { 
    background-color: #deb8f3; 
}

body {
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
    color: #640468;
  }

a {
    color: #ff00aa
}

.btn {

}

#post-guts {
    font-size: large;
}

input {
    border-width: 0px;
}

label {
    font-weight: 400;
}

/* .form-field {
    font-family: sans-serif;
} */

.flashes {
    color: brown;
    background-color: pink;
}

/* #submit-button {
    background-color: #ffe386;
} */

#community_rules {
    background-color: rgb(255, 249, 221);
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: #ffe386;
}