<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="static/styles.css" />
<head>
  <title>BrightBook</title>
    <ul class=flashes>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
</head>

<body>
  BrightBook | <a href="/">Home</a> | 

  {% if 'email' not in session: %}

    <a href="/login">Log In</a>

  {% endif %}

  {% if 'email' in session: %} 
    <a href="/users">Browse users</a>
    | <a href="/brightnews">Read all BrightNews</a>
    | <a href="/create_post">Write new post</a>

  {% endif %}

    <form action="/logout" method="POST"> 
      {% if 'email' in session: %}
      
        <input type="submit" value="Log out!">
      {% endif %}

    </form>


  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>