<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- include libraries(jQuery, bootstrap) -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Patua+One|Poppins&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" type="text/css" href="static/styles.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <title>BrightBook</title>
    <!-- <ul class="flashes" style="list-style: none;"> -->
      {% for message in get_flashed_messages() %}
      <div class="alert alert-warning" role="alert">
        {{ message}}
      </div>
      {% endfor %}
    <!-- </ul> -->
  </head>

  <body>
    <div class="container">
      <br>
      <nav class="navbar navbar-light bg-info" style="background-color:white; border-color:#e9e7e7; border-width: 1px;">
          <div class="navbar-nav">

            
            <a class="nav-item nav-link" style="font-size: medium;" href="/"><img src="/static/images/BrightBook (4).png" width="150"></a> 
            {% if 'email' in session: %}
            <a class="nav-item nav-link" style="font-size: medium;" href="/users"> Stay in touch</a> 
            <a class="nav-item nav-link" style="font-size: medium;" href="/hiring_posts">
               Get a job</a> 
            <a class="nav-item nav-link" href="/logout"><i class="fa fa-hand-peace-o" aria-hidden="true"></i> Log out</a>
            {% endif %}


            {% if 'email' not in session: %}
            <a class="nav-item nav-link" href="/login">Log in</a> 
            <a class="nav-item nav-link" href="/register">Register</a>
            {% endif %}

          </div>
      </nav>
    
    {% block content %} put your content here {% endblock %}

  <div class="container">
    <div class="card text-right">
      <div class="card-header">
          
      </div>
      <div class="card-body" >
        <h5 class="card-title">   </h5>
        <p class="card-text" style="color:#f3fbfc;">__________________</p>
        <div class="maggie-footer">
        <a href="#" class="btn btn-primary">Get on the mailing list!</a>
      
      <div class="card-footer text-muted">
        © 2020 BrightBook, Inc.
      </div>
      
    </div>
    </div>
    </div>
    <br>
  </div>
</div>
  </body>
</html>
