<!doctype html>
<html>
<link rel="stylesheet" type="text/css" href="static/styles.css" />
<head>
  <title>BrightBook</title>
    <ul class=flashes>
    {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
</head>

<body>
  BrightBook 

  {% if 'email' not in session %}

    <a href="/login">Log in</a>

  {% endif %}

  {# <button type = "submit" formaction = "logout"> Logout </button> #}

<form action="logout" method="POST">
    <!-- {% for message in get_flashed_messages() %} -->
    {% if session != {} %}
      
        <input type="submit" value="Log out!">
    {% endif %}
    <!-- {% endfor %} -->
</form>

  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>