{% extends 'base.html' %} {% block content %} 

{% if 'email' in session %}

<div class="row">
  <div class="col-sm-2">
  </div>

  <div class="col-sm-8">
<h2>Community Directory</h2>

<div id="post-wrapper">

  {% for user in users %}
  <div id="brightnews-post">  
    <div id="post-guts">
    <a href="/users/{{ user.display_name }}">
      {{ user.display_name }} <br />
    </div>
      <h6 style="text-align: center;"><a href="/create_message/{{ user.user_id }}">
        Send {{ user.display_name }} a message </a> </h6>
    </a>
 
  </div>
  <br>
  {% endfor %}
</div>

<div class="col-sm-2">
</div>

</div>

</div>

{% else %}

<p>Please log in to view BrightBookers.</p>

{% endif %} 

{% endblock %}
