{% extends 'base.html' %}
{% block content %}

  <h2>Newsfeed</h2>

  <h4><a href="/create_post">Write new post</a> </h4>

  <ul style="list-style: none;">
    {% for post in posts %}
      <li style="border-style:solid">
        Posted {{ post.posted_at | humanize }} by <a href="/users/{{ post.user_id }}"><b>User {{ post.user_id }}</b></a> | <a href="/posts/{{ post.post_id }}">
          Read full post</a>
            <br>
            <br>
          
            {{ post.post_text | safe }}
            <br>
            <br>
        
        
              {% if post.hearts %}
                  {% for heart in post.hearts %}
                    {{ heart.heart_type }} by User {{ heart.user_id }} 
                    <br>
                  {% endfor %}
              {% endif %}

              <form action="/posts/{{ post.post_id }}/heart" method="POST"> 
              
                <input type="submit" value="Heart!" id="heart">
              </form>
            
        
          
          __________________________________________________________________________
        <br>
      </li>
    {% endfor %}
  </ul>

{% endblock %}