{% extends 'base.html' %}
{% block content %}

  <h2>BrightNews</h2>

  <ul>
    {% for post in posts %}
      <li>
        Posted at: {{ post.posted_at }} by <b>User {{ post.user_id }}</b> | <a href="/posts/{{ post.post_id }}">
          Read full post</a>
          <ul>
            <br>
          <li>
            {{ post.post_text | safe }}
          </li>
          __________________________________________________________________________
          </ul>
        <br>
      </li>
    {% endfor %}
  </ul>

{% endblock %}