<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="static/styles.css" />
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- include libraries(jQuery, bootstrap) -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <title>BrightBook</title>
    <ul class="flashes">
      {% for message in get_flashed_messages() %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
  </head>

  <body>
    <div class="container">

  <h2>About {{ company.company_name }}:</h2>
 
  <ul style="list-style: none;">

  <!-- {% if company.hired_bootcamp_grads %} 
  <li> {{ company.company_name }} has hired bootcamp grads. </li>
  {% endif %} -->

  {% if company.hired_hackbrighters %} 
  <li> {{ company.company_name }} has hired a Hackbrighter for her first SWE job. </li>
  {% endif %}

  <li> <a href="{{ company.job_listings_link }}">{{ company.job_listings_link }} </a> </li>

  </ul>
  
  
</body>
</html>