{% extends 'base.html' %} {% block content %}

<!-- include summernote css/js -->
<link
  href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css"
  rel="stylesheet"
/>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

<h2 class="title">Write New Message</h2>
<form method="post" action="/create_message">

  <div><label for="recipient">
    <input type="hidden" id="recipient" value={{ recipient }} name="recipient"></div>
  <div class="form-control"><label for="subject">Subject
    <input type="text" id="subject" name="subject" required>
  </div>

  <textarea id="summernote" name="editordata"></textarea>
  <input type="submit" class='btn btn-warning btn-block' value="Send Message" />
</form>

<script>
  $(document).ready(function() {
    $("#summernote").summernote();
  });
</script>

{% endblock %}
