{% extends 'base.html' %}
{% block content %}

<div class="formwrapper">
    <h2 class="title">Add a new company to the directory</h2>
    <form method="POST" action="/create_company">
        <div class="form-field">{{ form.company_name.label }} {{ form.company_name(size=20) }}</div>
        <div class="form-field">{{ form.hired_hackbrighters.label }} {{ form.hired_hackbrighters }}</div>
        <div class="form-field">{{ form.hired_bootcamp_grads.label }} {{ form.hired_bootcamp_grads }}</div>
        <div class="form-field">{{ form.job_listings_link.label }} {{ form.job_listings_link }}</div>
        <div class="form-field">{{ form.company_contact.label }} {{ form.company_contact }}</div>
        <div class="form-field">{{ form.company_notes.label }} {{ form.company_notes }}</div>
        <p><input type=submit value=Add company></p>
    </form>
</div>

{% endblock %}