{% extends 'base.html' %}
{% block content %}

<!-- include summernote css/js -->
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote.min.js"></script>

<!-- include css for emoji plugin -->
<link href="tam-emoji/css/emoji.css" rel="stylesheet">


<h2 class="title">Write New Post</h2>
<form method="post" action="/create_post">
  <textarea id="summernote" name="editordata"></textarea>
  <input type=submit class='btn btn-warning btn-block' value=Post />
</form>


<script>
$(document).ready(function() {
  $('#summernote').summernote()
  // {
  //   toolbar: [
  //   ['style', ['bold', 'italic', 'underline', 'clear']],
  //   ['fontname',
  //   [] ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Merriweather']],
  //   ['fontsize', ['fontsize']],
  //   ['color', ['color']],
  //   ['para', ['ul', 'ol', 'paragraph']],
  //   ['insert', ['link']],
  //   ['insert', ['picture']]
  //   ]
  //   }
});

</script>

{% endblock %}