{% extends 'base.html' %}
{% block content %}

<div class="row">

  <div class="col-sm-8">




  <h2>Hiring Posts</h2>
  <p>Have a lead on job openings? Is your company hiring? Share about it here. <i class="fa fa-briefcase"></i> <i class="fa fa-heart"></i></p>
  <h4><a href="/create_hiring_post">Write new hiring post</a></h4>
  <br>
  <!-- <ul style="list-style: none;"> -->
    <div id="post-wrapper">
    {% for hiring_post in hiring_posts %}
      <!-- <li style="border-style:solid; background-color:#f3e8fc; border-color:#cbbdfc; border-radius: 10px; padding: 10px"> -->
      
        Posted {{ hiring_post.posted_at | humanize }} by <a href="/users/{{ hiring_post.display_name }}"><b>{{ (hiring_post.display_name) }}</b></a>
            <br>
            <div id="brightnews-post">
            <div id="post-guts">
              <a href="/hiring_posts/{{ hiring_post.hiring_post_id }}">
            {{ hiring_post.post_text | safe }}
            </a>
          </div>
      </div>
      <!-- </li> -->
      <br>
    {% endfor %}
    </div>
  <!-- </ul> -->
</div>

<div class="col-sm-4">

  <h2>Companies</h2>
<h4><a href="/create_company">Submit a new company</a></h4>

  
<form id="company-search-form" action="/company_search">
  <select id="company-search" class="company-search" name="company_name">
    {% for company in companies %}
    <option value="{{ company.company_name }}">{{ company.company_name }}</option>
    {% endfor %}
  </select>
  <br>
  <input type=submit class="btn btn-info" value="Search!">
</form>

<!-- <div id="company-has-hired-hackbrighters"></div> -->
<div id="company-job-listings"></div>

<br>
</div>

</div>

  <script src="/static/js/company_search.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

{% endblock %}