{% extends 'base.html' %}
{% block content %}

  <h2>Hiring Posts</h2>
  <b>Community Rules:</b> BrightFuture is a supportive community that provides value to both job seekers and hiring teams. We ask that you uphold your side of this agreement: 
  <br>
  <li>Please limit posts to ones that provide benefit to job seekers.</li>
  <li>Please do not post about the same opportunity more than once a week.</li>
  <li>Posts that do not meet these guidelines will be removed.</li>
  <br>
  <h4><a href="/create_hiring_post">Write new hiring post</a></h4>
  <br>
  <ul>
    {% for hiring_post in hiring_posts %}
      <li>
        Posted {{ hiring_post.posted_at | humanize }} by <a href="/users/{{ hiring_post.user_id }}"><b>User {{ hiring_post.user_id }}</b></a> | <a href="/hiring_posts/{{ hiring_post.hiring_post_id }}">
          Read full post</a>
            <br>
            <br>
          
            {{ hiring_post.post_text | safe }}
            <br>
            <br>  
          __________________________________________________________________________
        <br>
      </li>
    {% endfor %}
  </ul>

{% endblock %}