{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron" style="background-image: url(/static/images/sunrise.jpg)">
            <h1 class="display-4">Welcome to BrightBook!</h1>
            <p class="lead">A place to stay in touch after graduation.</p>
            <hr class="my-4">
            <p>The future's so bright...</p>
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
              <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
            </p>
          </div>
    </div>

{% endblock %}

