{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="jumbotron" style="background-image: url(/static/images/sunrise.jpg)">
            <h1 class="display-4" style="color:rgb(22, 107, 177)">Welcome to BrightBook!</h1>
            <p class="lead" style="color:rgb(0, 0, 0)">A place to stay in touch after graduation.</p>
            <hr class="my-4">
            <!-- <p style="color:rgb(0, 0, 0)">The future's so bright...</p> -->
            <p class="lead" style="color:rgb(22, 107, 177)">
              <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
              <a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>
            </p>
          </div>
    </div>
</div>

{% endblock %}

