{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-9">
      <!-- <div class="card">
        <div class="card-body"> -->
            <h1 style="text-align:left">Newsfeed</h1>
            <p>What's on your mind? Share anything here. <i class="fa fa-heart"></i></p>

            <h4><a href="/create_post"> <i class="fa fa-pencil fa-flip-horizontal"></i> Write new post </i> </a> </h4>
            
            
            <div id="post-wrapper">
              {% for post in posts %}
                <!-- <li style="border-style:solid; background-color:#f3e8fc; border-color:#cbbdfc; border-radius: 10px; padding: 10px"> -->
                  
                  
                  Posted {{ post.posted_at | humanize }} by <a href="/users/{{ post.display_name }}"><b>{{ post.display_name }}</b>
                      <br>
                      <div id="brightnews-post">
                      <div id="post-guts">
                        <a href="/posts/{{ post.post_id }}">
                      {{ post.post_text | safe }}
                        </a>
                      </div>
                      </div>
                  
                      <div id="hearts">
                        {% if post.hearts %}
                            {% for heart in post.hearts %}
                              {{ heart.heart_type }} by <a href="/users/{{ heart.display_name }}"><b>{{ heart.display_name }}</b></a>
                              <br>
                            {% endfor %}
                        {% endif %}
                      
            
                        <form action="/posts/{{ post.post_id }}/heart" method="POST"> 
                        
                          <input type="submit" class="btn btn-danger" value="Heart!" id="heart">
                        </form>
                      </div>
                   
                  
                <!-- </li> -->
                <br>
              {% endfor %}
            </div>
        <!-- </div>
      </div> -->
    </div>
    <div class="col-sm-3">
      <div class="card-maggie">
        <div class="card-body">
          <img src="/static/images/B (18).png" width="170px">
          <h4 class="card-title">Stay in touch</h4>
          <p class="card-text">Go to the BrightBook user directory to see profiles and message other BrightBookers.</p>
          <a href="/users" class="btn btn-info">Browse users</a>
        <!-- </div>
      </div>
    
        <div class="card-maggie">
          <div class="card-body"> -->
        <br>
        <br>
            <h4 class="card-title">Get a job</h4>
            <p class="card-text">See companies who have hired Hackbrighters and have open positions now.</p>
            <a href="/hiring_posts" class="btn btn-info">Go to Hiring</a>
          </div>
        </div>
      </div>
  </div>



<!-- <h2>BrightNews</h2>
<p><a href="/brightnews">View all posts</a></p>

<h2>Community</h2>
<p><a href="/users">View everyone on BrightBook</a></p>

<h2>My Profile</h2>
<p><a href="/users/{{ user.user_id }}">View my profile</a></p> -->

<script src="/static/js/company_search.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

{% endblock %}

