{% extends 'base.html' %} {% block content %}

<!-- This is how the page looks if it's the current user's profile: -->

{% if user.email == session['email'] %}

<h2>My Messages</h2>

    {% if messages %}
    <ul style="list-style: none;">
    {% for message in messages %}
    <li style="border-style:solid; background-color:#f3edf8; border-color:#ece6ff; border-radius: 10px; padding: 10px">
        Sent at: {{ message.sent_at }} <br>
        Subject: {{ message.subject }} <br>
        Body: <a href="/messages/{{ message.message_id }}">View message</a>
        <form action="/messages/{{ message.message_id }}/delete" method="DELETE"> 

            <input type="submit" value="Delete Message" id="delete">
            </form>
    </li>
    <br>
    {% endfor %}
    </ul>

    {% endif %} 

    {% if not messages %} 

    You don't have any messages. 

    {% endif %} 

{% endif %}

<!-- Code for non-self user page follows -->

{% if user.email != session['email'] %}

<p>Please log in to see your messages.</p>
> {% endif %} {% endblock %}
