{% extends 'base.html' %} {% block content %}

<!-- This is how the page looks if it's the current user's profile: -->

{% if user.email == session['email'] %}

<h2>My Messages</h2>

    {% if messages %}

    <div id="post-wrapper">
    
    {% for message in messages %}
    <div id="brightnews-post">
        Sent at: {{ message.sent_at }} <br>
        From: {{ message.sender }} <br>
        Subject: {{ message.subject }} <br>
        Body: <a href="/messages/{{ message.message_id }}">View message</a>
        <form action="/messages/{{ message.message_id }}/delete" style="text-align:right" method="DELETE"> 

            <input type="submit" value="Delete Message" class="btn btn-light" id="delete">
            </form>
    
    </div>
    {% endfor %}
    </div>

    {% endif %} 

    {% if not messages %} 

    You don't have any messages. 

    {% endif %} 

{% endif %}

<!-- Code for non-self user page follows -->

{% if user.email != session['email'] %}

<p>Please log in to see your messages.</p>
> {% endif %} {% endblock %}
