{% extends 'base.html' %}
{% block content %}



<h2> {{ user.display_name }} (me)</h2>

<h5> <td><img src="{{ user.avatar(128) }}"></td>
    <a href="/messages">View my messages</a></h5>


  <ul style="list-style: none;">

    

  <h4>Contact Info:</h4>

  <li style="border-style:solid; background-color:#f3edf8; border-color:#ece6ff; border-radius: 10px">{{ user.email }} </li>

  </ul>
  {% if user.posts %}

  <br>
  <ul style="list-style: none;">
  <h4>Posts:</h4>
  
    {% for post in user.posts %}
      <li style="border-style:solid; background-color:#f3edf8; border-color:#ece6ff; border-radius: 10px">
        Posted {{ post.posted_at | humanize }} by <b>{{ post.display_name }}</b> | <a href="/posts/{{ post.post_id }}">
          Read full post</a>
            <br>
            <br>
          
            {{ post.post_text | safe }}
            <br>
        
        
              <!-- {% if post.hearts %}
                  {% for heart in post.hearts %}
                    {{ heart.heart_type }} by User {{ heart.display_name }} 
                    <br>
                  {% endfor %}
              {% endif %} -->
             
      </li>
      <br>
    {% endfor %}
    

  
  {% endif %}

    <br>
      
  
    {% if user.hearts %}
      <h4> Favorited posts:</h4>
  

        {% for heart in user.hearts %}
            <li style="border-style:solid; background-color:#f3edf8; border-color:#ece6ff; border-radius: 10px">
              <a href="/posts/{{ heart.post_id }}">{{ heart.post_id }} </a> <br>
            </li>

        {% endfor %}

      </li>
    {%endif %}
{% endblock %}