{% extends 'base.html' %}
{% block content %}



<h2> {{ user.display_name }} (me)</h2>

<h5> <td><img src="{{ user.avatar(128) }}"></td>
    <a href="/messages">View my messages</a></h5>


  <ul>

    

  <h4>Contact Info:</h4>
  <ul>
  <li>{{ user.email }} </li>
</ul>

  </ul>
  {% if user.posts %}

  <br>
  <ul>
  <h4>Posts:</h4>
  <ul>
    {% for post in user.posts %}
      <li>
        Posted {{ post.posted_at | humanize }} by <b>User {{ post.user_id }}</b> | <a href="/posts/{{ post.post_id }}">
          Read full post</a>
            <br>
            <br>
          
            {{ post.post_text | safe }}
            <br>
        
        
              {% if post.hearts %}
                  {% for heart in post.hearts %}
                    {{ heart.heart_type }} by User {{ heart.user_id }} 
                    <br>
                  {% endfor %}
              {% endif %}
              __________________________________________________________________________
      </li>
    {% endfor %}
    

  </ul>
  {% endif %}

    <br>
      
  
    {% if user.hearts %}
      <h4> Favorited posts:</h4>
  
  <ul>
        {% for heart in user.hearts %}
            <li>
              <a href="/posts/{{ heart.post_id }}">{{ heart.post_id }} </a> <br>
            </li>

        {% endfor %}

      </li>
    {%endif %}
  </ul>
{% endblock %}