{% extends 'base.html' %}
{% block content %}

  <p>Post {{ post.post_id }} by {{ user.display_name }}:</p>
        
    
  {{ post.post_text | safe }}

  <p> {{ post.posted_at }} </p>

  {% if user.user_id not in post.hearts %}

     <form action="/posts/{{ post.post_id }}/heart" method="POST"> 
      
        <input type="submit" class="btn btn-info" value="Heart!" id="heart">
      </form>

  {% endif %}


      {% if post.hearts %}
        
          {% for heart in post.hearts %}
            <li style="list-style: none;"> {{ heart.heart_type }} by User {{ heart.user_id }} </li>
          {% endfor %}
        
      {% endif %}


      {% if user.email == session['email'] %}
      <br> 
      <br>
      <form action="/posts/{{ post.post_id }}/delete" method="DELETE"> 
      
        <input type="submit" class="btn btn-info" value="Delete Post" id="delete">
      </form>
      {% endif %}

      <a href="/brightnews">Return to BrightNews feed</a> 

{% endblock %}
