{% extends 'base.html' %}
{% block content %}

  <p>Post {{ post.post_id }} by {{ user.display_name }}:</p>
        
    
  {{ post.post_text | safe }}

  <p> {{ post.posted_at }} </p>

  {% if user.user_id not in post.hearts %}

     <form action="/posts/{{ post.post_id }}/heart" method="POST"> 
      
        <input type="submit" value="Heart!" id="heart">
      </form>

  {% endif %}


      {% if post.hearts %}
        <ul>
          {% for heart in post.hearts %}
            <li> {{ heart.heart_type }} by User {{ heart.user_id }} </li>
          {% endfor %}
        </ul>
      {% endif %}

<script src="/static/ajax.js"></script>

{% endblock %}
