{% extends 'base.html' %}
{% block content %}



<h1 style="text-align:left">Post details</h1>

<div id="post-wrapper">
      Posted {{ post.posted_at | humanize }} by <a href="/users/{{ post.display_name }}"><b>{{ post.display_name }}</b></a>
        <p> {{ post.posted_at }} </p>
        <div id="brightnews-post">
        <div id="post-guts">
          <a href="/posts/{{ post.post_id }}">
        {{ post.post_text | safe }}
          </a>
        </div>
        </div>
</div>
    
        <div id="hearts">
          {% if post.hearts %}
              {% for heart in post.hearts %}
                {{ heart.heart_type }} by <a href="/users/{{ heart.display_name }}"><b>{{ heart.display_name }}</b></a>
                <br>
              {% endfor %}
          {% endif %}

          <form action="/posts/{{ post.post_id }}/heart" method="POST"> 
                        
            <input type="submit" class="btn btn-danger" value="Heart!" id="heart">
          </form>
       


      {% if user.email == session['email'] %}
      
      <form action="/posts/{{ post.post_id }}/delete" method="DELETE"> 
      
        <input type="submit" class="btn btn-info" value="Delete Post" id="delete">
      </form>
      {% endif %}
    </div>

      <a href="/">Return to BrightNews</a> 

{% endblock %}
