{% extends 'base.html' %}
{% block content %}


<!-- This is how the page looks if it's the current user's profile: -->

{% if user.email == session['email'] %}

<h2> My Profile: {{ user.display_name }} </h2>

<h5> <a href="/messages">View my messages</a></h5>

{% endif %}

<!-- Code for non-self user page follows -->

{% if user.email != session['email'] %}

  <h2>About {{ user.display_name }}:</h2>
  <h6><a href="/create_message/{{ user.user_id }}">
    Send {{ user.display_name }} a message </a> </h6>

{% endif %}

<!-- Code for everybody -->

  <ul>

  Email: 
  <li> {{ user.email }} </li>
      
  </ul>
  
  {% if user.posts %}

  <br>
  <ul>
  Posts:
    {% for post in user.posts %}
      <li>
      <a href="/posts/{{ post.post_id }}">
        {{ post.post_text | safe }} </a> <br>

          <!-- {% if post.hearts %}
          
            {% for heart in post.hearts %}
              {{ heart.heart_type }}
            {% endfor %}

          {% endif %} -->

      </li>
    {% endfor %}

  </ul>
  {% endif %}

    <br>
      
  <ul>
    {% if user.hearts %}
      <3'd posts:
  
        {% for heart in user.hearts %}
            <li>
              <a href="/posts/{{ heart.post_id }}">{{ heart.post_id }} </a> <br>
            </li>

        {% endfor %}

      </li>
    {%endif %}
  </ul>
{% endblock %}