{% extends 'base.html' %}
{% block content %}

<!-- Code for non-self user page follows -->



  <h2>About {{ user.display_name }}:</h2>
  <h6><a href="/create_message/{{ user.user_id }}">
    <td><img src="{{ user.avatar(128) }}"></td>
    Send {{ user.display_name }} a message </a> </h6>



<!-- Code for everybody -->

  <ul>

  Email: 
  <li> {{ user.email }} </li>
      
  </ul>
  
  {% if user.posts %}

  <br>
  <ul>
  Posts:
    {% for post in user.posts %}
      <li>
      <a href="/posts/{{ post.post_id }}">
        {{ post.post_text | safe }} </a> <br>
        Posted {{ post.posted_at | humanize }}
        <br>
        <br>

          <!-- {% if post.hearts %}
          
            {% for heart in post.hearts %}
              {{ heart.heart_type }}
            {% endfor %}

          {% endif %} -->

      </li>
    {% endfor %}

  </ul>
  {% endif %}

    <br>
      
  <ul>
    {% if user.hearts %}
      <3'd posts:
  
        {% for heart in user.hearts %}
            <li>
              <a href="/posts/{{ heart.post_id }}">{{ heart.post_id }} </a> <br>
            </li>

        {% endfor %}

      </li>
    {%endif %}
  </ul>
{% endblock %}